.faq { //section class="faq"
    padding: 5.6vw;

    h2 { //class="title"
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions { //ul
        &__item { //li
            background-color: #13151d;
            margin-bottom: 16px;

            &__question { //div pergunta
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative; //para conter o position: absolute do pseudoelemento ::after

                &::after { //pseudoelemento que vem depois do elemento div class="faq__questions"
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px; //para que ele comece logo após o padding do elemento div class="faq__questions"
                    height: 100%; // para que ele ocupe 100% da altura do elemento div class="faq__questions"
                    display: flex;
                    align-items: center; //para centralizar o conteúdo deste pseudoelemento
                    font-size: 40px;
                }
            }

            &__answer { //div class="text--big" resposta
                height: 0px; //para ocultar por padrão e exibir via classe modificadora --is-open
                overflow: hidden; 
                //a propriedade overflow determina se o conteúdo será visível ou não mesmo que extrapole o box-model
                //no caso overflow: hidden; fica escondido todo conteúdo que extrapole a div resposta cuja altura é de 0px
                padding: 0 24px;
                transition: height, .5s ease; //transiciona fechamento da div resposta em sua altura no tempo de meio segundo suavemente
            }

            &--is-open { //classe modificadora
                .faq__questions__item__question::after {
                    content: '-';
                }

                .faq__questions__item__answer { 
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .5s ease; //transiciona abertura da div resposta em sua altura no tempo de meio segundo suavemente
                    
                    p {
                        margin-top: 24px;
                    }

                    ul {
                        padding: 0 40px;
                        list-style: disc;
                    }

                    li {
                        margin-top: 16px;
                    }
                }    
            }
        }
    }
}