@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;
    
    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr; //três colunas (frações) em uma linha
        gap: 24px; //espaçamento de 24px entre os itens da lista
        margin-top: 44px;

        @media (max-width: 768px) { //mobile
            grid-template-columns: 1fr 1fr; //duas colunas (frações) em uma linha
        }

        &--is-active {
            display: grid;
        }
        
        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap; 
            //faz com que as palavras no texto fiquem numa 
            //linha só mesmo que isso não caiba no container
            //no wrap = sem empacotar

            overflow-x: scroll; //permitir rolage horizontal
            padding-left: 20px; //forçar visão do primiro item já a esquerda

        }

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;            
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}